
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    width: 98vw;
    height: 89px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #f5f5f58a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    visibility: hidden;
}
a{
    color: #000;
    text-decoration: none;
    padding: 10px;
}
header a:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: underline;
}
header ul{
    display: flex;
    list-style-type: none;
}
footer ul{
    display: flex;
    list-style-type: none;
}
header li, .nav1 *{
    margin: 9px;
}
i{
    cursor: pointer;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
}
.slice{
    width: 369px;
    height: 540px;
    border: 1.3px rgb(75, 75, 75) solid;
    border-radius: 4px;
    text-align: center;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slice img{
    width: 350px;
}
.slice ul{
    width: 300px;
    text-align: left;
}
footer{
    width: 98vw;
    height: 12vh;
    font-weight: 666;
    background-color: #f5f5f58a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    font-family: "Font Awesome 5 Brands"; 
}
footer .li1:before{
    content: "\F437";
   font-family: "Bootstrap-icons";
   margin: 8px;
}
footer .li2:before{
    content: '\F6CC';
   font-family: "Bootstrap-icons";
   margin: 8px;
}
footer .li3:before{
    content: '\F8DB';
   font-family: "Bootstrap-icons";
   margin: 8px;
}
footer .li4:before{
    content: '\F3ED';
   font-family: "Bootstrap-icons";
   margin: 8px;
}

::-webkit-scrollbar{
    background:transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(171, 171, 171, 0.404);
}

@media only screen and (max-width: 600px) {
    nav{
        display: none;
    }
    .nav1{
        display: none;
    }
    .menu{
        visibility: visible;
    }
    header{
        justify-content: space-between;
        width: 100vw;
    }
    .first-main-container{
        flex-direction: column;
    }
    main{
        justify-content: center;
    }


    .main-container{
        justify-content: center;
    }
    footer{
        top: 100px;
        flex-direction: column;
    }
}    