/* insa:ugurysfzd
UGUR YUSIFZADE  */

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
header{
    width: 98.5vw;
    height: 14.082278vh;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #f5f5f58a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    visibility: hidden;
}
a{
    color: #000;
    text-decoration: none;
    padding: 10px;
}
header a:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: underline;
}
ul{
    display: flex;
    list-style-type: none;
}
li, .nav1 *{
    margin: 9px;
}
i{
    cursor: pointer;
}
.first-main-container{
    display: flex;
    justify-content: space-evenly;
}
.text-left{
    font-size: 37.43px;
    margin: 30px;
}
.text-left p{
    font-size: medium;
    margin: 0px;
}
.text-left h1{
    margin: 0px;
}
.img-right{
    position: relative;
    top: 45px;
}
.img-right img{
    width: 48.6vw;
    object-fit: contain;
    margin: 0px;
    position: relative;
    bottom: 231.46px;
    right: 20px;
    transform: rotate(-5.88deg) scalex(-1);
}
.img-right h1{
    width: 46.8vw;
    font-size: 88px;
    color: rgba(255, 255, 255, 0.089);
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: rgb(167, 167, 167);
}
.text-left button{
    width: 12vw;
    padding: 11.8px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #ffff;
    cursor: pointer;
}
.first-main-slice{
    position: relative;
    bottom: 90px;
    width: 98.5vw;
    height: 120vh;
    background: rgb(37,34,117);
background: linear-gradient(180deg, rgba(37,34,117,0) 0%, rgba(26, 23, 113, 0.222) 13%, rgba(37,34,117,0.48503151260504207) 25%, rgba(7,2,73,1) 75%);
}
.first-main-slice h1{
    font-size: 187px;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.first-main-slice img{
    width: 55vw;
    height: 53.79vh;
    object-fit: cover;
    margin: 0px;
    position: relative;
    bottom:300.46px;
    left: 89px;
}
.medium-slice-container{
    height: 35vh;
    width: 55vw;
    position: relative;
    top: 150px;
    left: 120px;
    animation: mymove 2.3s;
  animation-fill-mode: forwards;
}
.medium-slice-container *{animation-timing-function: ease;}
@keyframes mymove{
    from{left: 470px;}
    to{left: 80px;}
}
.first-main-slice button{
    width: 11.8vw;
    position: relative;
    bottom: 300px;
    left: 40px;
    border: 1.4px rgb(167, 167, 167) solid;
    border-radius: 6px;
    background: transparent;
    color: snow;
    font-size: 15px;
    letter-spacing: 2.3px;
    padding: 10px;
}
.second-main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.slice{
    width: 34.375vw;
    height: 69.62vh;
    border: 1.3px rgb(75, 75, 75) solid;
    border-radius: 4px;
    text-align: center;
    margin: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slice h1{
    font-size: 43px;
    font-weight: 777;
    letter-spacing: 12px;
}
.slice3 h1{
    position: relative;
    bottom: 4.5vw;
}
.third-main-container{
    display: flex;
    position: relative;
    top: 55px;
    left: 0;
    width: 98.5vw;
    height: 120vh;
    background: rgb(181, 32, 32);
background: linear-gradient(0deg, rgba(117, 34, 34, 0) 0%, rgba(113, 23, 23, 0.222) 13%, rgba(117, 34, 34, 0.485) 25%, rgb(116, 2, 2) 75%);
}
.third-medium-container{
    position: relative;
    top: 50px;
}
.third-medium-container h1{
    font-size: 187px;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.third-medium-container button{
    position: relative;
    bottom: 350px;
    right: 666px;
    width: 15.8vw;
    border: 1.4px rgb(255, 255, 255) solid;
    border-radius: 6px;
    background: transparent;
    font-size: 15px;
    letter-spacing: 2.3px;
    padding: 10px;
}
.third-medium-container button a{
    color: snow;
}
.third-main-container img{
    width: 58.6vw;
    object-fit: contain;
    margin: 0px;
    position: relative;
    bottom: 391.46px;
    left: 420px;
    transform: rotate(-8.88deg) scalex(-1);
}
.fourth-main-container{
    width: 98.5vw;
    position: relative;
    top: 80px;
}
.fourth-main-container h1{
    font-size: 50px;
    margin: 20px;
}
.info-inv{
    width: 98.5vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
}
.info-inv img{
    width: 45vw;
}
.info-inv p{
    width: 35vw;
    font-size: larger;
}
.pics-inv img{
    position: relative;
    top: 100px;
    width: 98.5vw;
}
.fifth-main-container{
    position: relative;
    top: 333px;
    width: 98.5vw;
    height: 100vh;
    background: rgb(95,0,228);
background: linear-gradient(270deg, rgba(95,0,228,0) 0%, rgba(79,0,190,0.6587009803921569) 30%, rgba(44,0,97,0.9051995798319328) 62%, rgba(55,0,93,1) 100%);
}
.fifth-main-container img{
    position: relative;
    left: 180px;
    width: 70vw;
    transform: scaleX(-1);
}
.fifth-main-container h1{
    font-size: 85px;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.up{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
    padding: 20px;
    border: none;
    border-radius: 50%;
    background-color: #e2e2e275;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    font-weight: 666;
    transition: .2s;
}
.up:hover{
    background-color: #d2d2d274;
    font-size: 17.5px;
}
footer{
    width: 98.5vw;
    height: 12vh;
    font-weight: 666;
    background-color: #f5f5f58a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    top: 400px; 
}
footer li{
    display: flex;
    align-items: center;
}
footer .li1:before{
    content: "\F437";
   font-family: "Bootstrap-icons";
   margin: 8px;
}
footer .li2:before{
    content: '\F6CC';
   font-family: "Bootstrap-icons";
   margin: 8px;
}
footer .li3:before{
    content: '\F8DB';
   font-family: "Bootstrap-icons";
   margin: 8px;
}
footer .li4:before{
    content: '\F3ED';
   font-family: "Bootstrap-icons";
   margin: 8px;
}

::-webkit-scrollbar{
    background:transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(171, 171, 171, 0.404);
}
@media only screen and (max-width: 600px) {
    nav{
        display: none;
    }
    .nav1{
        display: none;
    }
    .menu{
        visibility: visible;
    }
    header{
        justify-content: space-between;
        width: 100vw;
    }
    .first-main-container{
        flex-direction: column;
    }
    main{
        justify-content: center;
    }
    .text-left{
        width: 100vw;
    }
    .text-left h1{
        font-size: 88px;
    }
    .text-left button{
        width: 90vw;
    }
    .img-right{
        width: 100vw;
        height: 440px;
    }
    .img-right h1{
        width: 100vw;
        font-size: 70px;
    }
    .img-right img{
        width: 70vw;
        position: absolute;
        bottom: 200px;
        transform: rotate(-6deg) scaleX(-1);
    }
    .first-main-slice{
        top: 20px;
        width: 100vw;
        height: 100vw;
    }
    .first-main-slice button{
        display: none;
    }
    .medium-slice-container h1{
        font-size: 100px;
    }
    .medium-slice-container img{
        width: 60vw;
        object-fit: contain;
        position: absolute;
        top: 10px;
    }
    .second-main-container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 120px;
    }
    .slice{
        width: 75vw;
    }
    .third-main-container{
        width: 100vw;
        height: 120vw;
        top: 180px;
    }
    .third-medium-container img{
        width: 75vw;
        position: absolute;
        bottom: 400px;
        left: 144px;
    }
    .third-medium-container h1{
        font-size: 80px;
    }
    .fourth-main-container{
        top: 220px;
    }
    .info-inv p{
        font-size: 14px;
    }
    .info-inv img{
        object-fit: cover;
    }
    .pics-inv img{
        width: 100vw;
        object-fit: cover;
    }
    .fifth-main-container{
        top: 430px;
    }
    .fifth-main-container img{
        top: 180px;
        left: 140px;
        width: 55vw;
    }
    .fifth-main-container h1{
        font-size: 55px;
        line-height: 1.1;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: rgb(255, 255, 255);
    }
    footer{
        top: 555px;
        width: 100vw;
    }
}