@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background: url(./img/bde6318c2ddb21b6c809490591ea6451.jfif);
    background-size: 100vw;
    height: 95vh;
}
header{
    width: 95vw;
    height: 101px;
    background-color: black;
    font-weight: 400;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
nav img{
    padding: 10px;
    margin: 20px;
    width: 60px;
    height: 55px;
    transition: .3s;
    border: hidden;
    border-radius: 8px;
}
nav img:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.064);
}
nav a{
    color: snow;
    text-decoration: none;
    margin-top: 20px;
    padding: 20px;
    padding-top: 25px;
    border-radius: 10px;
    transition: 1s;
}
nav a:hover{
    background-color: rgba(103, 103, 103, 0.502);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 650px;
    margin: 80px;
    background-color: black;
    color: snow;
    border-radius: 10px;
}
main *{
    display: inline;
}
main p{
    margin-left: 30px;
}
main img{
    width: 18px;
    margin-left:20px;
    display: inline;
    position: relative;
    top: 5px;
}
input{
    width: 330px;
    padding: 15px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 19px;
    background-color: rgba(37, 37, 37, 0.53);
    color: gainsboro;
}
input::placeholder{
    color: snow;
}
h1{
    margin-bottom: 40px;
    text-align: center;
}
button{
    width: 330px;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.064);
    border-radius: 17px;
    background-color: rgb(120, 0, 0);
    color: snow;
}
button:hover{
    background-color: rgb(200, 0, 0);
    cursor: pointer;
}
form .a1{
    margin: 8px;
}
form a{
    color: rgb(95, 190, 255);
    text-decoration: none;
}
form a:hover{
    text-decoration: underline;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
    background-color: black;
    width: 95vw;
    height: 50px;
}
footer p:hover{
    text-decoration: underline;
    cursor: pointer;
}
::-webkit-scrollbar{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: rgba(75, 75, 75, 0.404);
    
}
::-webkit-scrollbar-button{
    background-color: rgb(117, 117, 117);
}
::-webkit-scrollbar-corner{
    background-color: rgb(52, 52, 52);
}